<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Package cache" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="lmondeil@hotmail.com" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>